@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Sans+TC:wght@100&display=swap');

.fixed {
    position: fixed;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px;
}
.title {
    font-family: 'Hina Mincho', serif !important;
    font-weight: normal !important;
}

.banner {
    background-color: rgba(0, 0, 0, .6) !important;
    background: url('https://ttussc.github.io/cseecamp/src/img/U.jpg') no-repeat center -280px;
    background-size: cover;
    background-blend-mode: multiply;
}

.image {
    overflow: hidden;
}

.mark {
    box-shadow: inset 0 -8px 0 0 #ffeb6a;
    color: black;
}