@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Sans+TC:wght@100&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

.title {
    font-family: 'Hina Mincho', serif !important;
    font-weight: bold !important;
}

.banner {
    background-color: rgba(0, 0, 0, .6) !important;
    background: url('https://ttussc.github.io/cseecamp/src/img/useless_box_sample.jpg') no-repeat center;
    background-size: cover;
    background-blend-mode: multiply;
    
}

.banner > .hero-body > p {
    color: white !important;
}



.image {
    overflow: hidden;
}

.mark {
    box-shadow: inset 0 -8px 0 0 #ffeb6a;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.footer {
    margin-top: auto !important;
}